{% extends 'base.html.twig' %}

{% block title %}New Salle{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('harmonie/css/harmony-theme.css') }}" rel="stylesheet">
    <link href="{{ asset('harmonie/css/harmony-forms.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
{% include '_planning_topbar.html.twig' %}
<main class="page">
    <h1>Create new Salle</h1>

    {{ include('salle/_form.html.twig') }}

    <a href="{{ path('app_salle_index') }}">back to list</a>
</main>
{% endblock %}
